[Desktop Entry]
Name=CrossMacro
GenericName=Macro Recorder and Automation
Comment=Record, edit, and replay mouse and keyboard macros with hotkeys and schedules
Keywords=macro;macro recorder;macro player;keyboard;mouse;automation;hotkeys;scheduling;text expansion;screen recognition;image recognition;wayland;x11;linux;cli;headless;profiles;themes;screenshot;screen capture;pixel search;image search;
Exec=crossmacro
Icon=crossmacro
Type=Application
Categories=Utility;Accessibility;
Terminal=false
StartupNotify=true
StartupWMClass=CrossMacro.UI
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
